@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --expanded-nav-height: 191px;
  --collapsed-nav-height: 64px;
  --footer-height: 80px;
  --body-padding-y: 16px;
  --text-light: #4e4b66;
  --text-dark: white;
  --background-light: white;
  --background-dark: #121212;
  --active-light: rgb(
    34 211 238 / var(--tw-text-opacity, 1)
  ); /* tailwind-cyan-400 */
  --active-dark: rgb(
    103 232 249 / var(--tw-text-opacity, 1)
  ); /* tailwind cyan-300 */
  /* --accent-dark: rgb(
    192 132 252 / var(--tw-text-opacity, 1)
  ); tailwind purple-400 */
  /* --accent-dark: #f87171; tailwind-red-400 */
  --accent-dark: #ef4444; /* tailwind-red-500 */
  /* --accent-dark: #dc2626; tailwind-red-600 */
  /* --accent-dark: #fb7185; tailwind-rose-400 */
  /* --accent-dark: #f43f5e; tailwind-rose-500 */
  --accent-light: #e11d48; /* tailwind-rose-600 */
  /* --accent-light: rgb(
    126 34 206 / var(--tw-text-opacity, 1)
  ); tailwind purple-700 */
}

html {
  min-height: 100vh;
  min-width: 100vw;
}

/* basic light / dark theme implementation 
  TODO: clean up
*/
html,
html * {
  background-color: var(--background-light);
  color: var(--text-light);
  fill: var(--text-light);
  stroke: var(--text-light);
  /* color: #475569; tailwind-slate-600 */
  a:hover,
  a:hover * {
    color: var(--active-light);
    fill: var(--active-light);
    stroke: var(--active-light);
  }

  .accent,
  .accent * {
    color: var(--accent-light);
    fill: var(--accent-light);
    stroke: var(--accent-light);
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--background-dark);
    color: var(--text-dark);
    fill: var(--text-dark);
    stroke: var(--text-dark);
    a:hover,
    a.active,
    a:hover *,
    a.active * {
      color: var(--active-dark);
      fill: var(--active-dark);
      stroke: var(--active-dark);
    }

    .accent,
    .accent * {
      color: var(--accent-dark);
      fill: var(--accent-light);
      stroke: var(--accent-light);
    }
  }
}
